* {
    font-family: "Pretendard Variable", serif;
}

html {
    height: 100%;
    overflow: hidden;

}

body {
    margin: 0;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    /* cursor: url(./cursor/b53.png), pointer !important; */
}

iframe, .iframe {
    width: 100%;
    height: 100%;

    border: 0;

    box-sizing: border-box;
     overflow: hidden;
}

#frame {
    width: 100%;
    display: flex;
    -webkit-app-region: drag;

    /*background-color: #EBEBEB;*/
}


@media (prefers-color-scheme: dark) {
    #iframe {
        /*background: #1C1C1C;*/
        background: black;
    }
    body {
        /*background: #1C1C1C;*/
        background: black;
    }

    #title {
        /*color: #E6E1E5;*/
        color: white;
    }

}
@media (prefers-color-scheme: light) {
    #iframe {
        /*background: #E6E1E5;*/
        background: white;
    }
    body {
        /*background: #E6E1E5;*/
        background: white;
    }

    #title {
        /*color: #1C1C1C;*/
        color: black;
    }
}

#lights {
    width: fit-content;
    display: flex;
    padding: 14px;
    gap: 6px;

    user-select: none;

    -webkit-app-region: no-drag;

}

#title {
    position: absolute;
    left: 50%;
    top: 12.5px;

    transform: translate(-50%, 0);

    font-size: 13px;
}

#close {
    background-image: url(./tl/Close_Button.svg);
}

#lights:hover > #close {
    background-image: url(./tl/Close_Button_Hover.svg);
}

#minimize {
    background-image: url(./tl/Minimize_Button.svg);
}

#lights:hover > #minimize {
    background-image: url(./tl/Minimize_Button_Hover.svg);
}

#maximize {
    background-image: url(./tl/Maximize_Button.svg);
}

#lights:hover > #maximize {
    background-image: url(./tl/Maximize_Button_Hover.svg);
}

.light {
    width: 13px;
    height: 13px;

    border-radius: 100%;
    -webkit-app-region: no-drag;

    background-position: center;
    background-size: cover;


}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #737a7b;
    border-radius: 16px;
    padding: 4px;
    /*border: 4px solid #fff;*/
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display: none;
}



