/* @import url(PretendardDynamicSubset.css); */

* {
    font-family: 'Pretendard';
    box-sizing: border-box;

    position: relative;
}

.NeuCover {
    height: fit-content;
    width: fit-content;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.Window {
    background-color: aquamarine;
    margin-bottom: 10px;
}