@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

@font-face {
    font-family: "Neupica Material Symbol";
    src: url("../../apps/Material 3/font/neupica-material-symbol.woff2");
}

* {
    font-family: "Pretendard Variable", serif;
    font-weight: 300;

    box-sizing: border-box;
    position: relative;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
    font-size: 16px;
}

.NeuCover {
    display: contents;
}

.NeuDiv {
/*    */
}

#App {
    height: 100%;
}