@import url(IBM-Plex.css);
@import url(Pretendard.css);

* {
    font-family: 'Pretendard', serif;
    font-weight: 300;

    box-sizing: border-box;

    position: relative;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.NeuCover {
    display: contents;
    /* height: fit-content; */
    /* width: fit-content; */
}

.NeuDiv {
    /*width: fit-content;*/
}